<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>My Angular App!</title>
  <link rel="stylesheet" href="stylesheets/app.css"/>
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="flapperNews" ng-controller="MainCtrl">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>

  <script type="text/ng-template" id="/home.html">
    <div class="page-header">
      <h1>Flapper News</h1>
    </div>
    <div ng-repeat="post in posts | orderBy: '-upvotes'">
      <h2>{{post.title}}</h2>
      <em>{{post.content}}</em> - upvotes: {{post.upvotes}}<br/>
      <span style="cursor: pointer;" class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvote(post)"></span>
      <span><a href="#/post/{{$index}}">Comments</a></span>
    </div>

    <form ng-submit="addPost()">
      <h3>Add a new post</h3>

      <div class="form-group">
        <input class="form-control" placeholder="Title" type="text" ng-model="title"/>
      </div>
      <div class="form-group">
        <textarea class="form-control" placeholder="Content" ng-model="content"></textarea>
      </div>
      <button class="btn btn-primary" type="submit">Post</button>
    </form>
  </script>

  <script type="text/ng-template" id="/post.html">
    <div class="page-header">
      <h3>{{post.title}}</h3>
    </div>
    <div ng-repeat="comment in post.comments | orderBy: '-upvotes'">
      <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvote(comment)"></span>
      {{comment.upvotes}} - by {{comment.author}}
      <span>{{comment.content}}</span>
    </div>

    <form ng-submit="addComment()">
      <h3>Add a new comment</h3>

      <div class="form-group">
        <input class="form-control" placeholder="Author" type="text" ng-model="author"/>
      </div>
      <div class="form-group">
        <textarea class="form-control" placeholder="Comment" ng-model="comment"></textarea>
      </div>
      <button class="btn btn-primary" type="submit">Send</button>
    </form>
  </script>
</body>
</html>